frontend/node_modules/
frontend/.next/
PlacedOn/frontend/node_modules/
PlacedOn/frontend/.next/
scripts/
**/*.sst

# Python cache artifacts
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
.coverage.*

PlacedOn-Research/docs/*
acedOn/frontend/node_modules/
PlacedOn/frontend/.next/
scripts/
PlacedOn/frontend/dist/
